doctype html
html
    head
        title Please make your decision
    body
        div
            span
                {{client.id}}
            form(method='post')
                input(type='submit')