doctype html
html
    head
        title Please authorize yourself
    body
        div
            form(method='post')
                input(type='text', name='username')
                input(type='password', name='password')
                input(type='submit')